:root {
  --main-bg-color: #e4e8f1;

  --app-max-width: 350px;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: var(--main-bg-color);
}


.full-width {
  width: 100%;
}

.App {
  margin: auto;
  max-width: var(--app-max-width);
}
