:root {
  --main-bg-color: #e4e8f1;
  --secondary-text-color: #99a3a9;

  --app-max-width: 350px;
}

body {
  padding: 20px;
  background-color: var(--main-bg-color);
}

.App {
  margin: auto;
  max-width: var(--app-max-width);
  font-family: sans-serif;
}

#calendar {
}

#location {
  color: var(--secondary-text-color);
  font-size: 12px;
}
